modules = ["nodejs-20"]
run = "npm run start:dev"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "npm run start:dev"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
